[submodule "subclip-api"]
	path = subclip-api
	url = git@github.com:clmntgbr/subclip-api.git
[submodule "subclip-sound-extractor"]
	path = subclip-sound-extractor
	url = git@github.com:clmntgbr/subclip-sound-extractor.git
[submodule "subclip-protobuf"]
	path = subclip-protobuf
	url = git@github.com:clmntgbr/subclip-protobuf.git
[submodule "subclip-subtitle-generator"]
	path = subclip-subtitle-generator
	url = git@github.com:clmntgbr/subclip-subtitle-generator.git
[submodule "subclip-subtitle-merger"]
	path = subclip-subtitle-merger
	url = git@github.com:clmntgbr/subclip-subtitle-merger.git
[submodule "subclip-subtitle-transformer"]
	path = subclip-subtitle-transformer
	url = git@github.com:clmntgbr/subclip-subtitle-transformer.git
[submodule "subclip-subtitle-incrustator"]
	path = subclip-subtitle-incrustator
	url = git@github.com:clmntgbr/subclip-subtitle-incrustator.git
[submodule "subclip-video-formatter"]
	path = subclip-video-formatter
	url = git@github.com:clmntgbr/subclip-video-formatter.git
